   HOST=localhost
   PORT_DB= 3306
   USER='root'
  PASSWORD= 
  DB_API='database_api_mobile '
  DB_TEST_API='database_api_mobile'
        
 SECRET ='111111111111111111111111111'
 PORT_API = 3000 

 MAIL='@.com.br'
 HOST_MAIL='.com.br'
 PASSWORD_MAIL=''

#-----------------------
BROKER_URL='amqp://localhost:5672'
EXCHANGE_NAME='template_api'
#-----------------------

APP_ID_ML='111111111111'
SECRET_ML='1111111111111111111'

PATH_CERT_KEY='C:\Users\usuario\key.pem'
PATH_CERT_CERT='C:\Users\usuario\cert.pem'

REDIRECT_URI_ML ='https://522129a3648a.ngrok-free.app/v1/ml/integrations/callback'
SECRET_ML_ENCODE_STATE='9852h34bkm4b5h4blk234bkljh5h2k3b4hb32434'