   HOST=100.74.166.88
   PORT_DB= 3306
   USER='intersig'
  PASSWORD='Nileduz'
  DB_API='database_api_mobile '
        
 SECRET ='h43895jt9858094bun6098grubn48u59dsgfg234543tf'
 PORT_API = 3000 

 MAIL='integracao@intersig.com.br'
 HOST_MAIL='mail.intersig.com.br'
 PASSWORD_MAIL='Intersig@9227'

#-----------------------
BROKER_URL='amqp://localhost:5672'
EXCHANGE_NAME='template_api'
#-----------------------

APP_ID_ML='3882231483552747'
SECRET_ML='TYswIiUKweak2uo1YZGACmKqIVHGv46n'

PATH_CERT_KEY='C:\Users\usuario\key.pem'
PATH_CERT_CERT='C:\Users\usuario\cert.pem'

REDIRECT_URI_ML ='https://522129a3648a.ngrok-free.app/v1/ml/integrations/callback'
SECRET_ML_ENCODE_STATE='9852h34bkm4b5h4blk234bkljh5h2k3b4hb32434'