#DB_HOST='192.168.100.106'
DB_HOST='100.74.166.88'

DB_PORT_DB=3306
DB_USER='intersig'
DB_PASSWORD='Nileduz'
DB_API='database_api_mobile'
DB_TEST_API='database_api_mobile'
        
 SECRET ='111111111111111111111111111'
 PORT_API = 3000 

 MAIL='@.com.br'
 HOST_MAIL='.com.br'
 PASSWORD_MAIL=''

#-----------------------
BROKER_URL='amqp://localhost:5672'
EXCHANGE_NAME='template_api'
#-----------------------


#PATH_CERT_KEY='C:\Users\usuario\key.pem'
#PATH_CERT_CERT='C:\Users\usuario\cert.pem'



APP_ID_ML='11111111'
SECRET_ML='222222222222'


ML_API_URL='https://api.mercadolibre.com'

REDIRECT_URI_ML ='https:// /ml/integration/callback' # url de callback regiustrada nas configurações da integração com o mercadolivre
SECRET_ML_ENCODE_STATE='aaaaaaaaaaa'

PROJECT_URL="https://  " # url publico do projeto
FRONT_END_URL="htt:// "